{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_revert_promo_direction[0]["#markup"] == "On" ? 'revert-block'

  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {# {{ kint(content.field_imgservices) }} #}
      <div class= "cosvs__block">
          <div class= "cosvs__img">
          {{ content.field_service_img[0] }}
          </div>

          {# {{ dump ( content.field_revert_promo_direction[0]["#markup"] ) }} #}

          <div class="cosvs__content">
            <div class="cosvs__content__title">
              <h3>{{ content.field_title }}</h3>
            </div>
            <div class="cosvs__content__desc">
              {{ content.field_promo_body }}
            </div>
            <div class="cosvs__content__button">
              <a href="{{ content.field_cta_link[0]['#url'] }} " class="contact__button__link">
                {{ content.field_cta_link[0]['#title'] }}
              </a>
            </div>
          </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}