{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_revert_promo_direction[0]["#markup"] == "On" ? 'revert-block'

  ]
%}

{{ attach_library('specbee_theme/billboard-block')}}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {# {{ kint(content.field_imgservices) }} #}
      <div class= "billboard__container">
          <div class="billboard__content">
            <div class="billboard__content__title">
              {{ content.field_billboard_heading }}
            </div>
            <div class="billboard__content__desc">
              {{ content.field_billboard_description }}
            </div>
            <div class="billboard__content__button">
              <a href="{{ content.field_billboard_button[0]['#url'] }} " class="contact__button__link">
                {{ content.field_billboard_button[0]['#title'] }}
              </a>
            </div>
          </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
